@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
	height: 100%;
}

/* 

ag grid chart styles

*/

/* .wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#toolPanel {
	text-align: center;
}

.spacer {
	display: inline-block;
	min-width: 20px;
}

#myChart {
	height: 100%;
} */

/**
 
 ag grid grid styles down beloooo
 
 */

.ag-header.ag-pivot-off.ag-header-allow-overflow {
	background-color: theme(colors[fuchsia].800);
}

.ag-header.ag-pivot-off.ag-header-allow-overflow
	.ag-header-row.ag-header-row-column {
	color: theme(colors[fuchsia].100);
}

::-webkit-scrollbar {
	width: 17px;
}

::-webkit-scrollbar-track {
	background: theme(colors[fuchsia].800);
}

::-webkit-scrollbar-thumb {
	background: theme(colors[fuchsia].500);
}
